In [2]:
import numpy as np
import pandas as pd

In [42]:
#the first step is to load the dataset and find out the shape of that dataset.
a1=pd.read_csv('weatherHistory.csv')
a1.shape

(96453, 12)

In [47]:
#here it check the duplicate value in the dataset.
dupes=a1.duplicated(keep='first')# here keep='first' means it considers first value as unique and rest of the same values as duplicate.
sum(dupes)#this gives the total number of duplicates.

24

In [48]:
#It removes the duplicates values
remove_dups=a1.drop_duplicates()

In [49]:
remove_dups.shape# this gives the new shape of the dataset after removing duplicate value.

(96429, 12)